pip install pandas
pip install numpy
pip install seaborn
pip install matplotlib
pip install geopandas
pip install h3
pip install shapely.geometry
pip install osmnx
pip install scikit-learn
pip install re
pip install math
pip install scipy
pip install tensorflow
pip install time
pip install keras
pip install h3pandas
pip install gym
pip install stable_baselines3